.facility-minerals{
    display: flex;
    border: 3px solid #3b6d0c;
    background-color: rgba(0, 0, 0, 0.5);
    width: 30rem;
    border-radius: 0;
    font-family: "Orbitron", serif;
    color: #4b0649;
    justify-content: space-evenly;
    padding: 10px;
}
.facility-min-body{
    display: flex;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    flex-direction: column;
    justify-content: space-evenly;
}
.facility-min-title{
    font-size: 35px;
}
.facility-min-button{
    background-color: #3b6d0c;
    border: none;
}