.governor-selection::-webkit-scrollbar-track {
    background-color: #3b6d0c;
  }
  
  .governor-selection::-webkit-scrollbar-thumb {
    background-color: #4b0649;
  }
  
  .governor-selection::selection {
    background-color: #3b6d0c;
    color: white;
  }

