

.title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.exomine-title {
    display:flex;
    justify-content: center;
    font-family: "Orbitron", serif;
    font-size: 70px;
    letter-spacing: 50px;
    margin: 20px;
    color: #25da2b
}

.rocket-icon {
    color: #25da2b;
    font-size: 40px;
}